;; WARNING
;; This a sample file for dev-config.edn
;; To make it work you need to replace secret variables (<SECRET>)
;; and remove .sample. infix from the file name.

{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000

 ;;Twitter used as an example, replace these URIs with the OAuth provider of your choice
 :request-token-uri "https://api.twitter.com/oauth/request_token"
 :access-token-uri "https://api.twitter.com/oauth/access_token"
 :authorize-uri "https://api.twitter.com/oauth/authenticate"
 ; set your dev database connection URL
 :database-url "postgresql://localhost/<DB_NAME>?user=<DB_USER>&password=<DB_PASSWORD>"
 :fb-app-id "<FB_APP_ID>"
 :auth-secret "<generate with:  openssl rand -base64 96 >"}
